<header>
  <div class="button-title">
    <button class="ticketing">Billetterie</button>
    <div class="logo-container" routerLink="/">
      <img src="../../assets/images/logo.jpg" alt="Logo NationSound festival" />
    </div>
    <h1>
      <p>Nation Sound Festival</p>
      <p>
        <span *ngFor="let day of dates.days" class="day">{{ day }}</span
        ><span class="month-year">{{ dates.monthYear }}</span>
      </p>
    </h1>
  </div>
  <nav class="navbar" (click)="handleClick()">
    <ul class="list-group" [ngClass]="{ toggled: isToggled }">
      <li
        id="home-link"
        class="list-group-item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Accueil
      </li>
      <li
        class="list-group-item"
        routerLink="/program"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Programme
      </li>
      <li
        id="header-map-link"
        class="list-group-item"
        routerLink="/map/all/header"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Carte
      </li>
      <li class="list-group-item">Billetterie</li>
    </ul>
    <button class="menu-toggle" (click)="handleToggle()">
      <svg>
        <use href="../../assets/icons/icons.svg#hamMenuIcon" />
      </svg>
    </button>
  </nav>
</header>

<!-- <li class="list-group-item">
        <a href="/map/all" (click)="handleClick($event)">Carte</a>
      </li> -->
