header {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--white-opaque8);
  width: 100vw;
  max-height: 90px;
  min-width: 350px;
  z-index: 1000;
  padding:0;
}
div.button-title {
  display:flex;
  align-items: center;
}
button.ticketing {
  display:none;
}
div.logo-container {
  position:relative;
  background-color: var(--white);
  min-width:60px;
  min-height:60px;
  border:solid 5px var(--orange);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 10px;
}

img {
  position:absolute;
  top:3px;
  left:6px;
  width: 50px;
  height: 50px;
}
h1 {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  white-space: nowrap;
  font-size: 1.5rem;
  color: var(--white);
}
h1 p {
  margin:5px auto;
}
button.ticketing, h1 span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  white-space: nowrap;
}
span.day {
  text-align: center;
  vertical-align: middle;
  border:2px solid var(--orange);
  border-radius:50%;
  padding: 5px;
  margin:0 5px 0 0;
  width:1.7rem;
  height:1.7rem;
}
span.month-year {
  border:2px solid var(--orange);
  border-radius:10px;
  padding: 5px 10px;
}
nav.navbar {
  position: relative;
}

ul {
  display: none;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.toggled {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -15px;
  bottom: -210px;
  background-color: var(--black);
  margin-right: 15px;
}

ul li {
  padding: 5px 10px;
  height: 20px;
  cursor: pointer;
}

ul li:not(.active):hover {
  color: var(--yellow);
  background-color: var(--orange-opaque8);
  transition: .3s;
}

ul li.active {
  color: var(--yellow);
  transition: .3s;
}

p {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

svg {
  width: 20px;
  height: 20px;
  fill: var(--white-opaque8);
}

button.menu-toggle {
  display: block;
  background-color: var(--brown);
  border: 1px solid var(--yellow);
  border-radius: 4px;
  margin:0 10px;
}

button.menu-toggle svg {
  height: 30px;
}

@media screen and (min-width: 362px) {
  h1 {
    font-size: 1.7rem;
  }
  button.ticketing, h1 span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 485px){
  button.ticketing {
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color:var(--white);
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--orange);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  ul {
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: 100px auto 100px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  ul li {
    text-align: left;
    padding: 5px 10px;
  }

  button.menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  header {
    justify-content: space-evenly;
    padding:0 20px;
  }
  div.button-title {
    min-width:500px;
    justify-content: space-evenly;
  }
  button.ticketing {
    margin-right:60px;
  }
  div.logo-container {
    margin-right:20px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2rem;
  }  
  button.ticketing,
  h1 span {
    font-size: 1.7rem;
  }
  span.day, span.month-year {
    height: 2rem;
  }
  h1 span.day {
    width: 2rem;
  }
  ul {
    font-size: 1.8rem;
  }

}