<footer>
  <div class="footer-main-container">
    <ul class="list-group contact">
      <li class="list-group-item title">Contact</li>
      <li class="list-group-item">
        <p>
          <strong>Live Events </strong>
        </p>
        <address>
          51, rue du Festival - 75000 Paris
          <div class="phone-email">
            <svg>
              <use href="../../assets/icons/icons.svg#phoneIcon" />
            </svg>
            01 23 45 67 89
          </div>
          <div class="phone-email">
            <svg>
              <use href="../../assets/icons/icons.svg#mailIcon" />
            </svg>
            contact&commat;live-events.com
          </div>
        </address>
      </li>
    </ul>
    <ul class="list-group newsletter">
      <li class="list-group-item title">Newsletter</li>
      <li class="list-group-item input">
        <form #form="ngForm" (ngSubmit)="submit(form)">
          <p ngModelGroup="newsletter">
            <input
              name="email"
              required
              email
              type="email"
              placeholder="Entrez votre email"
              [(ngModel)]="value"
            />
            <button>
              <svg id="rss">
                <use href="../../assets/icons/icons.svg#rssIcon" />
              </svg>
            </button>
          </p>
          <!-- <p class="debug">
            {{ form.value | json }}
          </p> -->
        </form>
      </li>
      <li class="list-group-item">
        <p class="newsletter-text">
          Inscrivez-vous pour recevoir nos dernières actualités
        </p>
      </li>
    </ul>
    <ul class="list-group in-line social-network">
      <li class="list-group-item title">Réseaux sociaux</li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#fbIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#twIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#instaIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#youTubeIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#snapIcon" />
        </svg>
      </li>
      <li class="list-group-item">
        <svg>
          <use href="../../assets/icons/icons.svg#linkedInIcon" />
        </svg>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    Copyright &copy; Live Events - Tous droits réservés
  </div>
</footer>
