<main>
  <section class="header">
    <div class="header">
      <span class="title">FILTRE</span>
      <img src="assets/icons/filter.svg" alt="filtre" />
      <span
        *ngFor="let cat of cats; let idx = index"
        class="cat"
        (click)="handleCatClick($event, idx)"
        >{{ cat }}
      </span>
      <img
        class="clear-filter"
        src="assets/icons/redCross.png"
        alt="réinitialiser le filtre"
        (click)="filterReset()"
      />
    </div>
    <!-- <p class="debug">
      {{ form.value | json }}
    </p> -->
  </section>
  <fieldset class="form-filter" [ngClass]="{ hidden: activeSubform === -1 }">
    <form
      #form="ngForm"
      (ngSubmit)="filterReset(form)"
      (change)="handleFilterChange(form)"
    >
      <img
        class="close-button"
        src="assets/icons/close.svg"
        alt="fermer la fenêtre"
        (click)="handleCatClick($event, -1)"
      />
      <div
        class="subform days"
        [ngClass]="{ hidden: activeSubform !== 0 }"
        ngModelGroup="days"
      >
        <h3>Quand ?</h3>
        <app-input
          *ngFor="let day of formFilterElements.days"
          [cat]="day"
          [filter]="filter.days"
        ></app-input>
      </div>
      <div
        class="subform time"
        [ngClass]="{ hidden: activeSubform !== 1 }"
        ngModelGroup="time"
      >
        <h3>A quelle heure ?</h3>
        <app-select
          *ngFor="let time of formFilterElements.times"
          [cat]="time"
          [options]="
            time.key === 'min'
              ? formFilterElements.timeOptions.min
              : formFilterElements.timeOptions.max
          "
          [filter]="filter.time"
        ></app-select>
      </div>
      <div
        class="subform types"
        [ngClass]="{ hidden: activeSubform !== 2 }"
        ngModelGroup="types"
      >
        <h3>Quoi ?</h3>
        <app-input
          *ngFor="let type of formFilterElements.types"
          [cat]="type"
          [filter]="filter.types"
        ></app-input>
      </div>
      <div
        class="subform artist"
        [ngClass]="{ hidden: activeSubform !== 3 }"
        ngModelGroup="artist"
      >
        <h3>Qui ?</h3>
        <app-select
          [cat]="formFilterElements.artist"
          [options]="formFilterElements.artistOptions"
          [filter]="filter.artist"
        ></app-select>
      </div>
      <button type="submit">Réinitialiser</button>
    </form>
  </fieldset>
  <section class="events">
    <div class="container-events">
      <app-event [data]="event" *ngFor="let event of events"></app-event>
    </div>
  </section>
</main>
