<main (click)="closeForm()">
  <section class="header" (click)="rotateChevron($event)">
    <div class="header">
      <span>RECHERCHE</span>
      <button class="chevron" [ngClass]="{ rotated: isRotated }">
        <svg>
          <use href="../../assets/icons/icons.svg#chevronIcon" />
        </svg>
      </button>
    </div>
    <!-- <p class="debug">
      {{ form.value | json }}
    </p> -->
  </section>
  <fieldset
    class="form-filter"
    [ngClass]="{ hidden: !isRotated }"
    (click)="formClick($event)"
  >
    <form
      #form="ngForm"
      (ngSubmit)="filterReset(form)"
      (change)="handleFilterChange(form)"
    >
      <div class="days" ngModelGroup="days">
        <h3>Quand ?</h3>
        <app-input
          *ngFor="let day of days"
          [cat]="day"
          [filter]="filter.days"
        ></app-input>
      </div>
      <div class="time" ngModelGroup="time">
        <h3>A quelle heure ?</h3>
        <app-select
          *ngFor="let time of times"
          [cat]="time"
          [options]="time.key === 'min' ? timeOptions.min : timeOptions.max"
          [filter]="filter.time"
        ></app-select>
      </div>
      <div class="types" ngModelGroup="types">
        <h3>Quoi ?</h3>
        <app-input
          *ngFor="let type of types"
          [cat]="type"
          [filter]="filter.types"
        ></app-input>
      </div>
      <div class="artist" ngModelGroup="artist">
        <h3>Qui ?</h3>
        <app-select
          [cat]="artist"
          [options]="artistOptions"
          [filter]="filter.artist"
        ></app-select>
      </div>
      <button type="submit">Réinitialiser</button>
    </form>
  </fieldset>
  <section class="events">
    <div class="container-events">XXXXXXXXXXX
      <app-event
        [data]="event"
        *ngFor="let event of events; index as idx"
      ></app-event>
    </div>
  </section>
</main>
