main {
  position: absolute;
  top: 97px;  
}
section#map {
  height: 100vh;
  width: 100vw;
  min-width:350px;
}
:host ::ng-deep .popup {
  font-size: 1.3rem;
}
:host ::ng-deep .popup.highlight {
  font-size: 1.5rem;
  font-weight: 700;
}