<div class="artist-events">
  <div class="artist">
    <img
      src="{{
        '../../../../../assets/images/artists/' +
          event.performer.name.replaceAll(' ', '').replaceAll('-', '') +
          '.jpg'
      }}"
      alt="{{ event.performer.name }}"
      [routerLink]="['/artist', event.performer.id, 'program-details']"
    />
    <h2
      class="artist-name"
      [routerLink]="['/artist', event.performer.id, 'program-details']"
    >
      {{ event.performer.name }}
    </h2>
  </div>
  <div class="events-info">
    <ul>
      <li
        *ngFor="let date of event.dates"
        class="date"
        [ngClass]="{
          concert: date.type.description === 'concert',
          rencontre: date.type.description === 'rencontre'
        }"
      >
        <span class="date-time">{{ formattedDate(date.date) }} </span>
        <span class="type">{{ date.type.description }}</span>
        <span
          class="location"
          [routerLink]="[
            '/map',
            cleanup(date.type.description, date.location.name),
            'program-details'
          ]"
          >{{ date.location.name }}</span
        >
      </li>
    </ul>
  </div>
</div>
