<main>
  <!-- <section class="banner">
    <div class="fixed-container">
      <h2
        class="moving-text"
        [ngClass]="{
          info: message.criticality === 'info',
          warning: message.criticality === 'warning'
        }"
      >
        {{ message.text }}
      </h2>
    </div>
    <img src="assets/images/home.jpg" alt="photo groupe" />
  </section> -->
  <app-carousel></app-carousel>
  <section class="news">
    <div class="section-header">
      <h2 class="title">actualités</h2>
    </div>
    <div
      class="section-content news"
      [ngClass]="{
        info: message.criticality === 'info',
        warning: message.criticality === 'warning'
      }"
    >
      {{ message.text }}
    </div>
  </section>
  <section class="program-summary">
    <div class="section-header">
      <h2 class="title">concerts 2024</h2>
    </div>
    <div class="section-content program-grid">
      <div
        *ngFor="let item of innerHTML"
        class="grid-item"
        [innerHTML]="item"
      ></div>
    </div>
  </section>
  <section class="map">
    <div class="section-header">
      <h2 class="title">carte du festival</h2>
    </div>
    <div class="section-content map">
      <img
        src="assets/images/map-thumbnail.jpg"
        alt="lien vers la carte"
        routerLink="/map/all"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      />
    </div>
  </section>
  <section class="container-infos-faq">
    <section class="infos">
      <div class="section-header">
        <h2 class="title">infos pratiques</h2>
      </div>
      <div class="section-content infos">
        <h3>Lieu - Horaires</h3>
        <div>
          Le NationSound festival vous accueille de
          {{ infos.opening }} sur l'hippodrome de Chantilly :
          <address>
            <span>{{ infos.address }}</span
            ><span>{{ infos.gps }}</span>
          </address>
        </div>
        <h3>Moyens de transport</h3>
        <ul class="transport-means">
          <li>
            <ul class="transport train">
              <img src="../../assets/icons/train.svg" alt="accès en train" />
              <li class="option" *ngFor="let option of infos.transport.train">
                {{ option }}
              </li>
            </ul>
          </li>
          <li>
            <ul class="transport car">
              <img src="../../assets/icons/car.svg" alt="accès en voiture" />
              <li class="option" *ngFor="let option of infos.transport.car">
                {{ option }}
              </li>
            </ul>
          </li>
          <li>
            <ul class="transport plane">
              <img
                src="../../assets/icons/plane.svg"
                alt="aéroports les plus proches"
              />
              <li class="option" *ngFor="let option of infos.transport.plane">
                {{ option }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="faq">
      <div class="section-header">
        <h2 class="title">foire aux questions</h2>
      </div>
      <div class="section-content faq">
        <app-faq [data]="faq" *ngFor="let faq of faqs"></app-faq>
      </div>
    </section>
  </section>
  <section class="partners">
    <div class="section-header">
      <h2 class="title">partenaires</h2>
    </div>
    <div class="section-content partners">
      <img
        *ngFor="let partner of partners; let idx = index"
        src="{{ getPath(idx) }}"
        alt="partenaire du festival"
      />
    </div>
  </section>
</main>
