main {
  width: 100vw;
  min-width:350px;
  min-height: 100vh;
}
main section:not(.container-infos-faq) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2rem;
  vertical-align: middle;
  margin: 0;
  white-space: nowrap;
}
div.section-header {
  position:sticky;
  top:97px;
  display:flex;
  justify-content: center;
  width:100%;
  z-index: 500;
}
h2.title {
  padding: 5px 0;
  margin: 0;
  color: var(--red);
  text-shadow: 2px 2px 2px white;
  border: 1px solid;
  border-radius: 10px;
  background-color: var(--beige);
  width: 14em;
  text-align: center;
}
div.section-content {
  margin:10px 0 15px;
}
div.news {
  font-size: 1.7rem;
  font-weight: 600;
  margin:0 auto;
  padding:10px 0;
  width:90%;
  max-width:900px;
  /* border: 3px solid var(--orange);
  border-radius: 5px; */
}
div.news.info {
  color: var(--blue);
}
div.news.wwarning {
  color: var(--red);
}
div.program-grid {
  display:grid;
  grid-template-columns: 25px repeat(3,auto);
  grid-template-rows: 30px auto;
  row-gap: 10px;
  column-gap: 5px;
  padding:0 15px;
  /* height:400px;
  overflow:auto; */
}

:host ::ng-deep div.grid-item {/* : host::ng-deep required for html content rendered via [innerHtml]*/
  display:flex;
  align-items: top;
  font-size: 1.2rem;
  font-weight: 600;
  border:1px solid;
  border-radius: 5px;
  background-color: var(--beige-opaque9);
}
:host ::ng-deep div.program-grid div.grid-item:first-child {
  border: none;
  background-color: transparent;
}
:host ::ng-deep div.grid-item:has(.column-header),
:host ::ng-deep div.grid-item:has(.row-header) {
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: var(--red-opaque9);
  color:var(--white);
}
:host ::ng-deep div.row-header {
  transform: rotate(-90deg);
  text-wrap: nowrap;
}

:host ::ng-deep div.grid-item ul {
  padding:5px 5px 5px 20px;
  line-height: 1.5rem;;
  margin:0;
}
:host ::ng-deep div.grid-item a {
  text-decoration: none;
  cursor: pointer;
}
:host ::ng-deep a:link,:host ::ng-deep a:visited {
  color:inherit;
}
:host ::ng-deep li.list-group-item-program a:hover {
  color: var(--red);
}
:host ::ng-deep div.row-header a:hover {
  color: var(--yellow);
}
div.map {
  display:flex;
  justify-content: center;
  padding: 0 15px;
  cursor:pointer;
}
div.map img {
  object-fit:cover;
  width:80%;
  height:50%;
  min-height:200px;
  border: 3px solid var(--orange);
  border-radius: 5px;
}
section.container-infos-faq {
  display:grid;
  justify-content: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
}
div.section-content.infos,
div.section-content.faq {
  font-size: 1.5rem;
  background-color: var(--beige);
  border:3px solid var(--orange);
  border-radius: 5px;  
  width: 90%;
  height:350px;
  overflow-y: scroll;
  max-width: 650px;
}
div.section-content.partners {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  width:90%;
  max-width:900px;
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 15px 20px;
}
h3~div{
  padding:0 30px
}
address {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 10px;
  font-weight: 600;
}
address span {
  padding:0 10px;
}

h3~ul {
  padding-left: 60px
}
ul.transport-means {
  list-style: none;
}
ul.transport {
  position:relative;
  padding:5px 20px;
}
ul.transport-means img {
  position:absolute;
  left:-35px;
  top:15px;
  height:25px;
  width:25px;
}
div.section-content.partners img {
  object-fit: cover;
  width:100px;
  padding:5px;
}

@media screen and (min-width: 600px) {
  div.program-grid {
    grid-template-columns: repeat(4, auto);
      }
  :host ::ng-deep div.grid-item:has(.row-header) {
    justify-content:left;
    padding:0 5px;
  }
  :host ::ng-deep div.row-header {
    transform: rotate(0deg);
  }
  section.container-infos-faq {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 992px) {
  :host ::ng-deep div.grid-item {
    font-size: 1.5rem;
    padding: 5px 10px;
  }
  :host ::ng-deep div.grid-item ul {
    padding-left: 15px;
    line-height: 1.7rem;
    ;
    margin: 0;
  }
  :host ::ng-deep div.grid-item:has(.column-header) {
    font-size: 1.6rem;
  }
  :host ::ng-deep div.grid-item:has(.row-header) {
    font-size: 1.5rem;
    padding: 0 10px;
  }   
  h2 {
    font-size:2.2rem;
  } 
}
@media screen and (min-width: 992px) {
  div.section-content.partners img {
    width:120px;
  }
}



  