<main>
  <form #form="ngForm">
    <!-- <p class="debug">
      {{ form.value | json }}
    </p> -->
    <section class="banner">
      <div class="fixed-container">
        <h2 class="moving-text">
          Bienvenue sur l'hippodrome de Chantilly pour cette 3e édition du Music
          Festival Paris 2024, où musique et diversité culturelle se rejoignent
          pour créer une expérience inoubliable ... Achetez vos billets dès
          maintenant et préparez-vous à un voyage extraordinaire !
        </h2>
      </div>
    </section>
    <section class="program-summary" ngModelGroup="program">
      <div class="section-header">
        <app-accordion index="0" title="concerts 2024"></app-accordion>
      </div>
      <div
        class="section-content program-grid"
        [ngClass]="{
          hidden:
            form.value.program !== undefined
              ? !form.value.program.accordion
              : true
        }"
      >
        <div
          *ngFor="let item of innerHTML"
          class="grid-item"
          [innerHTML]="item"
        ></div>
      </div>
    </section>
    <section class="map" ngModelGroup="map">
      <div class="section-header">
        <app-accordion index="1" title="carte du festival"></app-accordion>
      </div>
      <div
        class="section-content map"
        [ngClass]="{
          hidden:
            form.value.map !== undefined ? !form.value.map.accordion : true
        }"
      >
        <img
          src="assets/images/map-thumbnail.jpg"
          alt="lien vers la carte"
          routerLink="/map/all/map"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        />
      </div>
    </section>
    <section class="infos" ngModelGroup="infos">
      <div class="section-header">
        <app-accordion index="2" title="infos pratiques"></app-accordion>
      </div>
      <div
        class="section-content infos"
        [ngClass]="{
          hidden:
            form.value.infos !== undefined ? !form.value.infos.accordion : true
        }"
      >
        <h3>Lieu - Horaires</h3>
        <div>
          Le NationSound festival vous accueille de
          {{ infos.opening }} sur l'hippodrome de Chantilly :
          <address>
            <span>{{ infos.address }}</span
            ><span>{{ infos.gps }}</span>
          </address>
        </div>
        <h3>Moyens de transport</h3>
        <ul class="transport-means">
          <li>
            <ul class="transport train">
              <img src="../../assets/icons/train.svg" alt="accès en train" />
              <li class="option" *ngFor="let option of infos.transport.train">
                {{ option }}
              </li>
            </ul>
          </li>
          <li>
            <ul class="transport car">
              <img src="../../assets/icons/car.svg" alt="accès en voiture" />
              <li class="option" *ngFor="let option of infos.transport.car">
                {{ option }}
              </li>
            </ul>
          </li>
          <li>
            <ul class="transport plane">
              <img
                src="../../assets/icons/plane.svg"
                alt="aéroports les plus proches"
              />
              <li class="option" *ngFor="let option of infos.transport.plane">
                {{ option }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="faq" ngModelGroup="faq">
      <div class="section-header">
        <app-accordion index="3" title="foire aux questions"></app-accordion>
      </div>
      <div
        class="section-content faq"
        [ngClass]="{
          hidden:
            form.value.faq !== undefined ? !form.value.faq.accordion : true
        }"
      >
        <app-faq [data]="faq" *ngFor="let faq of faqs"></app-faq>
      </div>
    </section>
    <section class="partners" ngModelGroup="partners">
      <div class="section-header">
        <app-accordion index="3" title="partenaires"></app-accordion>
      </div>
      <div
        class="section-content partners"
        [ngClass]="{
          hidden:
            form.value.partners !== undefined
              ? !form.value.partners.accordion
              : true
        }"
      >
        <img
          *ngFor="let partner of partners; let idx = index"
          src="{{ getPath(idx) }}"
          alt="partenaire du festival"
        />
      </div>
    </section>
  </form>
</main>
